* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: black;
  color: white;
  height: 65px;
}

nav p {
  margin: auto 16px;
  font-size: 20px;
  cursor: pointer;
}

.container {
  margin: 48px auto;
  padding: 16px;
  background-color: lightsalmon;
  width: 600px;
}
.greetings {
  text-align: justify;
  color: black;
}

.inner-headings {
  color: white;
  text-align: center;
}
